<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<!-- 
		一个session-factory只能连接一个数据库
	-->
<session-factory>
	<!-- 
		数据库的用户名
	-->
	<property name="connection.username">root</property>
	<!-- 
		密码
	-->
	<property name="connection.password">1234</property>
	<!-- 
		驱动
	-->
	<property name="connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<!-- 
		url
	-->
	<property name="connection.url">
		jdbc:mysql://localhost:3306/ls
	</property>
	<!-- 
		作用：根据持久化类和映射文件生成表
		validate
		create-drop
		create
		update
	-->
	<property name="hbm2ddl.auto">update</property>
	<!-- 
		显示hibernate内部生成的sql语句
	-->
	<property name="show_sql">true</property>
	<property name="format_sql">true</property>
	<!-- MySQL方言 -->
	<property name="dialect">
		org.hibernate.dialect.MySQLDialect
	</property>
	<property name="current_session_context_class">thread</property>
	<property name="cache.use_second_level_cache">true</property>
	<property name="cache.provider_class">
		org.hibernate.cache.EhCacheProvider
	</property>
	<!-- 查询缓存，在二级缓存基础上使用 ，一般在session.createQuery方法中使用，且需要指定query.setCacheable(true);-->
	<property name="cache.use_query_cache">
		true
	</property>
	<mapping resource="cn/cloudstorage/qst/domain/Friend.hbm.xml"/>
	<mapping resource="cn/cloudstorage/qst/domain/User.hbm.xml" />

</session-factory>
</hibernate-configuration>